<div class="top-center">
  <button (click)="showAlert()">Show Alert</button>
</div>

<ul>
  <ng-container *ngFor="let card of cards; let i = index">
    <li>
      {{ card.title }}
      <img alt="item" [src]="card.logo">
    </li>
  </ng-container>
</ul>

<div class="card-container">
  <div class="card">
    <h1>{{ cards[0].title }}</h1>
    <img [src]="cards[0].logo" alt="Logo">
    <p>{{ cards[0].description }}</p>
  </div>

  <div class="card">
    <h1>{{ cards[1].title }}</h1>
    <img [src]="cards[1].logo" alt="Logo">
    <p>{{ cards[1].description }}</p>
  </div>

  <div class="card">
    <h1>{{ cards[2].title }}</h1>
    <img [src]="cards[2].logo" alt="Logo">
    <p>{{ cards[2].description }}</p>
  </div>

  <div class="bottom-center">
    <button (click)="filterById()">Filter Cards</button>
  </div>
</div>
